# Logs
logs
*.log
.wing/
typings/
jsconfig.json
.temp

.temp
pids
*.pid
*.seed

lib-cov
coverage

.grunt

.lock-wscript

build/Release

node_modules

dist/
build/

.idea/
node_modules/
*.zip
*.rar
.vscode/

# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
/package-lock.json
/src/project.config.json
/.wechatide/fileCache.cfg
/project.config.json
